/* Colours */

/*
$FNW_LIGHT: #FAFAF9;
$FNW_DARK: #403B33;
$FNW_LIGHT_GREEN: #D6E1C7;
$FNW_MID_GREEN: #94C7B6;
$FNW_DARK_GREEN: #32795D;
$FNW_ORANGE: #D3643B;
$FNW_BORDER_COLOUR: #DDD;
*/

$FNW_LIGHT: #FAFAF9;
$FNW_LIGHT_GRAY: #F0F0F0;
$FNW_DARK_GRAY: #556270;
$FNW_GREEN: #C7F464;
$FNW_RED: #C44D58;
$FNW_TEXT: #424242;
$FNW_BORDER: #DDD;