/* Colours */

/*
$FNW_LIGHT: #FAFAF9;
$FNW_DARK: #403B33;
$FNW_LIGHT_GREEN: #D6E1C7;
$FNW_MID_GREEN: #94C7B6;
$FNW_DARK_GREEN: #32795D;
$FNW_ORANGE: #D3643B;
$FNW_BORDER_COLOUR: #DDD;
*/

$FNW_LIGHT: #E0E4CC;
$FNW_DARK: #4E3F30;
$FNW_LIGHT_GREEN: #A7DBD8;
$FNW_MID_GREEN: #69D2E7;
$FNW_DARK_GREEN: #69D2E7;
$FNW_ORANGE: #FA6900;
$FNW_BORDER_COLOUR: #A7DBD8;