#header {
  height:40px;
  padding-top:15px;
  padding-bottom:15px;
  text-align:right;
  background:#0C5AA6;
  border-right:1px solid #bbb;
  border-left:1px solid #bbb;
  border-bottom:1px solid #408BD3;
  box-shadow:0 0 5px #888;
  a: {
    text-decoration:none;
    color:#444;
  }
    
}