.clear {
  clear: both;
  height: 0px;
  overflow: hidden;
}

#container {
  width: 60%;
  margin: 0 auto;
  margin: 48px 48px 0px 353px;
  
  background: white;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 48px;
//  left: 353px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66;
}

#flash_error, #flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font: {
    size: 12px;
    }
  h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font: {
      weight: bold;
      size: 12px;
    }
    background-color: #cc0000;
    color: white;
    }
  p {
    margin: 8px 10px;
    }
  ul {
    margin: 0;
    }
}