form.simple_form {
  hr {
    border:none;
    border-bottom:1px solid #DDD;
    margin-left:-5px;
    margin-right:-5px;
  }
  fieldset{
    border:1px solid #DDD;
    border-radius:3px;
    vertical-align:top;
    margin-bottom:3em;
    padding:0 5px 5px;
    margin-right:7%;
    h2 {
      background:#EEE;
      border-bottom:1px solid #ddd;
      padding-left:5px;
      margin-left:-5px;
      margin-right:-5px;
    }
    p {
      font-size:1.15em;
      margin-top:-14px;
    }
    h3{
      padding-left:5px;
      padding-top:5px;
      margin-top:10px;
      margin-left:-5px;
      margin-right:-5px;
      border-top:1px solid #DDD;
    }
    .quiet{
      font-size:0.9em;
      font-style:italic;
      color:#444;
    }
    .button{
      margin-top:5px;
    }
    .button.remove_nested_fields{
      height:auto;
      line-height:normal;
      padding:3px;
      vertical-align:top;
      margin:2px 0;
      margin-top:2px;
    }
    &.nested{
      p {
        margin-bottom:.5em;
      }
      & > div.fields {
        padding:.2em 0;
        width:100%;
        display:block;
        background:white;
        position:relative;
        select {
          min-width:200px;
        }
      }
    }
  }
  input:not([type=submit]), textarea {
    padding:5px;
    color:#111;
    border:1px solid #ccc;
    border-top-color:#999;
    border-left-color:#999;
    font-size:1.2em;
    width:291px;
	  vertical-align:top;
    &:focus{
      border:1px solid #4D90FE;
      outline:none;
      box-shadow:0 0 2px #666 inset;
    }
  }
  label{
	  padding-top:5px;
	  text-align:right;
    color:#111;
    display:inline-block;
    font-size:1.2em;
    line-height:1.5em;
	  margin-right:25px;
    width:200px;
    abbr {
      display:none;
    }
    &.collection_check_boxes{
      display:inline-block;
      font-weight:normal;
      width:auto;
	  padding-top:0;
    }
  }
  textarea{
    height:5em;
    width:391px;
  }
  div{
    &.mechanisms {
      margin-top:10px;
      span.inputs {
        display:inline-block;
      }
      span.label {
        text-align:right;
        color:#111;
        display:inline-block;
        font-size:1.2em;
        line-height:1.5em;
        margin-right:25px;
        width:200px;
      }
      input.boolean {
        margin:3px;
        width:auto;
        display:inline-block;
      }
      input.string {
        margin-left:-15px;
        margin-top:-5px;
      }
      label {
        vertical-align:top;
        width:auto;
        padding-top:0;
      }
    }
    &.integer{
      span.hint{
        display:inline-block;
        margin-left:auto;
        vertical-align:top;
        padding-top:10px;
        padding-left:5px;
      }
    }
    &.add{
      padding:5px;
      border-top:1px solid #bbb;
    }
    &.input {
      margin-top:10px;
      clear:both;
    }
    &.check_boxes{
      padding:0;
      margin-top:-18px;
      margin-right:-5px;
      margin-bottom:-5px;
      & > span {
        padding:.2em 0;
        margin-left:-5px;
        display:block;
      }
      & > span:nth-child(even){
        background:#F6F6F6;
        border-top:1px solid #EEE;
        border-bottom:1px solid #EEE;
      }
    }
    & > p{
      font-style:normal;
      padding:.5em 5px;
      font-size:1.1em;
      margin:0;
      border-bottom:1px solid #bbb;
      background:#FAFAFA;
      span.quiet {
        color:#555;
        font-size:0.9em;
        font-style:italic;
      }
    }
  }
  .hint{
    clear: left;
    margin-left: 275px;
    font-size:    12px;
    color: #555;
    display: block;
    font-style: italic;
  }
  input{
    &.radio{
      width:auto;
      margin:10px;
    }
    &.integer{
      display:inline;
      width:35px;
    }
    &.check_boxes{
      width:auto;
      vertical-align:middle;
      margin:0 5px;
      display:inline-block;
    }
  }
}
select{
  text-align:right;
  vertical-align:top;
  margin:0;
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid;
  border-color: #999 #CCC #CCC #999;
  outline: 0;
  padding: 5px;
  font-size:1.2em;
  &:focus{
    border:1px solid #4D90FE;
    outline:none;
    box-shadow:0 0 2px #666 inset;
    z-index:1;
  }
}
@media (-webkit-min-device-pixel-ratio: 0) {
  select {
    background-image: url(/assets/select_arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }
  select[size],
  select[multiple] {
    background-image: none;
    padding: 0;
  }
}