@import "_globals";

#user_sessions_page 
{
  #container 
  {
    background-color: $FNW_LIGHT;
    width:350px;
    margin:auto;
    margin-top:50px;
    padding:25px;
    /*FIXME - needs Compass mixins to generate cross browser compatible markup. */
    box-shadow:0 0 5px $FNW_MID_GREEN;
    border-radius:4px;
    border-color:#FNW_MID_GREEN;
    > h1 {
      margin-top:0;
    }
  }
  p{
    margin:0;
  }
  form {
    position:relative;
    overflow:auto;
  }
  label {
    width:auto;
    text-align:left;
    color:#444;
    display:block;
    font-size:1.2em;
    line-height:2em;
    abbr {
      display:none;
    }
  }
  input[type=password], input[type=text]{
    display:block;
    width:336px;
    padding:5px;
    color:#555;
    border:1px solid #ccc;
    border-top-color:#aaa;
    border-left-color:#aaa;
    &:focus{
      border:1px solid #4D90FE;
      outline:none;
      box-shadow:0 0 2px #666 inset;
    }
  }
  input[type=submit]{
  }
  .input{
    margin:1.6em 0;
  }
}