// Place all the styles related to the versions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.changeset, ul.versions{
  list-style-type:none;
  padding-left:0;
}
ul.versions{
  & > li {
    border:1px solid #EEE;
    border-right:1px solid #CCC;
    border-bottom:1px solid #CCC;
  }
  div.item {
    display:block;
    & > span.type {
      float:left;
      width:130px;
      white-space:nowrap;
      background:#AAA;
      padding:8px;
      color:#FFF;
      text-align:right;
      margin-right:10px;
    }
    & > span.item {
      display:block;
      margin:auto;
      padding:8px;
      background:#F7F7FF;
    }
    & > span.event {
      display:block;
      float:right;
      padding:3px;
      margin-right:5px;
      & > span.actions {
        display:inline-block;
      }
    }
  }
}
ul.changeset {
  padding:10px 0 0 20px;
  border-top:1px solid #EEE;
  span {
    &.title {
      display:block;
      font-size:1.2em;
      color:#422;
    }
    &.label {
      display:inline-block;
      font-style:normal;
      font-weight:bold;
      color:#422;
      width:40px;
    }
    &.change {
      color:#555;
      display:block;
      margin-left:10px;
      font-weight:normal;
      font-style:italic;
    }
  }
}
