#flash_notice {
  clear: both;
}

#flash_alert {
  clear: both;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}