td.name_column {
  text-align: left;
  min-width: 12em;
  a {
    text-decoration: none;
  }
  a.clinic {
    color: purple;
  }
}
  
td.number_column {
  text-align: right;
  width: 3.5em;
}

td.city_column {
  text-align:left;
  width: 9em;
}