- title "Log in"

%p== Don't have an account? Email John Yap.

= simple_form_for @user_session do |f|
  = f.error_messages
  =f.input :username, autofocus: true
  =f.input :password
  =f.button :submit, "Log In"